body {
  width: 100%;
  max-width: 650px;
  height: auto;
  font-size: 10px;
  display: block;
  white-space: nowrap;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  background-color: #f2f2f7;
  color: #444446;
  margin: 0 auto;
}
body > .header {
  width: 70%;
  max-width: 650px;
  background-color: #e5e5ea;
  margin: 1.2rem auto 0 auto;
  border: 1px solid;
  border-color: #363638;
  border-radius: 7px;
  text-align: center;
}
body > .header h3 {
  display: inline-block;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button, button:before, button:after,
input, input:before, input:after {
  background-color: #f2f2f7;
  color: #444446;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  border: 1px solid #8e8e93;
  padding: 20px;
  border-radius: 15px;
  background: inherit;
  z-index: 9;
  max-width: 650px;
}
.container > .panel {
  margin-bottom: 5px;
  text-align: center;
}
.container > .panel:not(:last-child) {
  padding-bottom: 7px;
  border-bottom: 1px solid;
  border-color: #363638;
}
.container > .panel > h1, .container > .panel > h2, .container > .panel > h3,
.container > .panel > h4, .container > .panel > h5, .container > .panel > h6 {
  display: block;
  font-size: initial;
}

.panel {
  margin: auto;
}
.panel > div {
  height: 300px;
  width: 300px;
  aspect-ratio: 1 / 1;
  margin: auto;
}
.panel > div > textarea {
  width: 88%;
  height: 80%;
  margin: auto;
  display: block;
  outline: none;
  padding: 2% 1% 0 2%;
  line-height: 1rem;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  border-bottom: none;
  resize: none;
  white-space: initial;
  border-radius: 10px 10px 0 0;
  border-color: #363638;
}
.panel > div > button {
  display: block;
  width: 92%;
  height: 10%;
  margin: auto;
  padding: 0;
  outline: none;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 0 0 10px 10px;
  border-color: #363638;
}
.panel > div > button:before, .panel > div > button:after {
  display: none;
}
.panel > div > button > span {
  border: none;
  outline: none;
  margin: 0;
  display: block;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 3px;
  width: 100%;
  height: auto;
  padding: 3% 0 3% 0;
  text-align: center;
  vertical-align: middle;
  transition: 150ms;
}
.panel > div > button > span[for="copied"] {
  background-color: #3ce155;
}
.panel > div > button > span[for="failed"] {
  background-color: #ff4f44;
  color: #ffe014;
}
.panel > div > button:not([data-state="copy"]) > span[for="copy"] {
  transform: translateY(-100%);
}
.panel > div > button[data-state="failed"] > span[for="failed"] {
  transform: translateY(-200%);
}
.panel > div > button[data-state="copied"] > span[for="copied"] {
  transform: translateY(-100%);
}

footer {
  max-width: 650px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  border-top: 1px solid;
  border-color: #363638;
  font-size: 1.2rem;
  margin: 0 0 30px 0;
}
footer > div {
  padding: 0;
  margin: 1px;
}
footer > div:first-child {
  text-align: center;
  margin: 10px 0 7px 0;
  font-weight: 500;
  display: block;
}
footer > div h4 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 10px 0 5px 15px;
}
footer label[for="copyright"] {
  position: absolute;
  right: 25px;
}
footer label[for="developer"],
footer label[for="socials"],
footer label[for="socials"] > span,
footer > div > label {
  margin: 0 0 0 20px;
}
footer label[for="socials"],
footer label[for="socials"] > span {
  display: block;
}
footer a {
  color: inherit;
  text-decoration-line: underline;
}

@media (min-width: 450px) {
  footer > div,
  footer > div > label {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
