body {
    --mw: 650px;
    --border-color: rgb(54, 54, 56);
    
    width: 100%;
    max-width: var(--mw);
    height: auto;
    font-size: 10px;
    display: block;
    white-space: nowrap;
    font-family: "Helvetica", "Arial", "Sans-Serif";
    background-color: rgb(242, 242, 247);
    color: rgb(68, 68, 70);
    margin: 0 auto;
    
    button, button:before, button:after,
    input, input:before, input:after {
        background-color: rgb(242, 242, 247);
        color: rgb(68, 68, 70);
    }
    
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    
    input[type="number"] {
        -moz-appearance: textfield;
    }
    
    > .header {
        width: 70%;
        max-width: var(--mw);
        background-color: rgb(229, 229, 234);
        margin: 1.2rem auto 0 auto;
        border: 1px solid;
        border-color: var(--border-color);
        border-radius: 7px;
        text-align: center;
        
        h3 {
            display: inline-block;
        }
    }
    
    @import "container.scss";
    
}


@import "style.scss";


footer {
    max-width: var(--mw);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-top: 1px solid;
    border-color: var(--border-color);
    font-size: 1.2rem;
    
    // Fixes Outside Element
    margin: 0 0 30px 0;
    
    > div {
        padding: 0;
        margin: 1px;
        
        &:first-child {
            text-align: center;
            margin: 10px 0 7px 0;
            font-weight: 500;
            display: block;
        }
        
        h4 {
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing: 1.5px;
            padding: 0;
            margin: 10px 0 5px 15px;
        }
        
        > label {
            display: block;
        }
    }
    
    label[for="copyright"] {
        position: absolute;
        right: 25px;
    }
    
    label[for="developer"] {
        margin: 0 0 0 20px;
    }
    
    label[for="socials"],
    label[for="socials"] > span {
        display: block;
        margin: 0 0 0 20px;
    }
    
    a {
        color: inherit;
    }
}

@media (min-width: 450px) {
    footer > div,
    footer > div > label {
        display: inline-block;
    }
}