body {
  width: 100%;
  max-width: 650px;
  height: auto;
  font-size: 10px;
  display: block;
  white-space: nowrap;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  background-color: #f2f2f7;
  margin: 0 auto;
}
body > .header {
  width: 70%;
  max-width: 650px;
  background-color: #e5e5ea;
  margin: 1.2rem auto 0 auto;
  border: 1px solid;
  border-color: #363638;
  border-radius: 7px;
  text-align: center;
}
body > .header h3 {
  display: inline-block;
  color: #2c2c24;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button,
button:before,
button:after,
input,
input:before,
input:after {
  background-color: #f2f2f7;
  color: #444446;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  border: 1px solid #8e8e93;
  padding: 20px;
  border-radius: 15px;
  background: inherit;
  z-index: 9;
  max-width: 650px;
}
.container > .panel {
  margin-bottom: 5px;
  text-align: center;
}
.container > .panel:not(:last-child) {
  padding-bottom: 7px;
  border-bottom: 1px solid;
  border-color: #363638;
}
.container > .panel > h1,
.container > .panel > h2,
.container > .panel > h3,
.container > .panel > h4,
.container > .panel > h5,
.container > .panel > h6 {
  display: block;
  font-size: initial;
}

:root {
  --shadow-on: rgb(215, 214, 10);
  --shadow-off: rgb(125, 125, 127);
  --shadow-depth: 20px;
}

.cb-toggle-lever {
  position: relative;
  border: 3px solid #5a5a5f;
  width: 13em;
  height: 5em;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 12px 12px 0 0;
}
.cb-toggle-lever input {
  visibility: hidden;
  position: absolute;
}
.cb-toggle-lever > span {
  position: absolute;
  margin: 0;
  width: 50%;
  border: none;
  height: 100%;
  padding: 0;
  transition: 150ms linear;
}
.cb-toggle-lever > span > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3a3a3c;
  font-weight: 600;
  font-size: 17px;
  font-family: "Helvetica";
  letter-spacing: 2px;
}
.cb-toggle-lever > span[for="divider"] {
  width: 0.2em;
  background-color: #5a5a5f;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cb-toggle-lever > span[for="on"] {
  right: 0;
  background-color: #30db5b;
  box-shadow: 0 0 var(--shadow-depth) inset var(--shadow-off);
}
.cb-toggle-lever > span[for="off"] {
  left: 0;
  background-color: #ff6961;
  box-shadow: 0 0 var(--shadow-depth) inset var(--shadow-on);
}
.cb-toggle-lever > span[for="stick"] {
  height: 120%;
  width: 0.3em;
  background-color: #6d6d70;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%) rotate(-59deg);
  border-radius: 9px;
}
.cb-toggle-lever > span[for="circle"] {
  background-color: #626266;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 40%);
  box-shadow: 0 -3px 5px rgba(102, 102, 109, 0.3);
}
.cb-toggle-lever > input:checked ~ span[for="stick"] {
  transform: translate(-50%, -10%) rotate(59deg);
}
.cb-toggle-lever > input:checked ~ span[for="off"] {
  box-shadow: 0 0 var(--shadow-depth) inset var(--shadow-off);
}
.cb-toggle-lever > input:checked ~ span[for="on"] {
  box-shadow: 0 0 var(--shadow-depth) inset var(--shadow-on);
}

footer {
  max-width: 650px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  border-top: 1px solid;
  border-color: #363638;
  font-size: 1.2rem;
  margin: 0 0 30px 0;
}
footer > div {
  padding: 0;
  margin: 1px;
}
footer > div:first-child {
  text-align: center;
  margin: 10px 0 7px 0;
  font-weight: 500;
  display: block;
  color: #2c2c24;
}
footer > div h4 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 10px 0 5px 15px;
  color: #2c2c24;
}
footer label[for="copyright"] {
  position: absolute;
  right: 25px;
  color: #2c2c24;
}
footer label[for="developer"],
footer label[for="socials"],
footer label[for="socials"] > span,
footer > div > label {
  margin: 0 0 0 20px;
  color: #2c2c24;
}
footer label[for="socials"],
footer label[for="socials"] > span {
  display: block;
}
footer a {
  color: inherit;
  text-decoration-line: underline;
}

@media (min-width: 450px) {
  footer > div,
  footer > div > label {
    display: inline-block;
  }
}
